{% extends 'layout.html' %}
{% block title %}{{ name }} {{ super() }}{% endblock %}
{% block styles %}<link rel="stylesheet" type="text/css" href="/static/css/style.css">{% endblock %}
{% block content %}

<div class="row">
	<div class="col-xs-10 col-xs-offset-1" id="chat">
		
	</div>
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1" id="form">
		<form action="{{ url_for('send') }}" method="POST" class="form-horizontal" role="form">
			<div class="form-group">
				<textarea class="form-control" rows="5" name="text" placeholder="Message"></textarea>
			</div>

			<button type="submit" class="btn btn-default">Отправить</button>
		</form>
	</div>
</div>

{% endblock %}
{% block scripts %}<script src="/static/js/script.js"></script>{% endblock %}
